$tomato:#dd4c44;
$bg: #3035C4;
$text:#23283B;

%montserat-normal{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
%montserat-bold{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
%lato-normal{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
%lato-bold{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}